* {
  box-sizing: border-box;
}
.list {
  list-style: none;
}
.item {
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  /* transition: transform ; */
}
.item:not(:last-child) {
  margin-bottom: 14px;
}
.item:hover {
  border: 1px solid red;
}
.item::before {
  content: "";
  height: 2px;
  width: 1px;
  background-color: red;
  margin-right: 8px;
  margin-left: 2px;
  opacity: 0;
  /* transition: transform 0.4s, width 0.4s; */
  transition: opacity 0.4s, width 0.4s;
  /* transform: scaleX(0); */
  transform-origin: left;
}
.item:hover::before {
  width: 14px;
  opacity: 1;
  /* transform: scaleX(1); */
  transform-origin: left;
}
